# Node
node_modules/
npm-debug.log*
package-lock.json

# Env
.env
.env.local

# System
.DS_Store
Thumbs.db

# Build artifacts
dist/
*.tgz

# CLI test output
.stpm-packages.json

# Local dev links
*.log