<header>
  <h1>{{- shop.name -}}</h1>

  <nav>
    <ul class="menu">
      {% for link in linklists.main.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>